<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Сервис рассылок</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Клиент сервиса
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:client_service_create' %}">
                            Добавить клиента </a></li>
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:client_service_list' %}">
                            Просмотреть список клиентов</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Сообщения
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:message_create' %}">
                            Добавить сообщение </a></li>
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:message_list' %}">
                            Просмотреть список сообщений</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Настройки рассылок
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:sending_mail_set_create' %}">
                            Добавить настройку </a></li>
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:sending_mail_set_list' %}">
                            Просмотреть список настроек</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Попытки рассылок
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:send_try_create' %}">
                            Добавить попытку </a></li>
                        <li><a class="dropdown-item" href="{% url 'mailing_interface_app:send_try_list' %}">
                            Просмотреть список попыток</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

