{% extends 'mailing_interface_app/base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Название настройки - {{ object.name }}</h5>
                        <p class="card-text">Клиент - {{ object.client_service }}</p>
                        <p class="card-text">Сообщение - {{ object.message }}</p>
                        <p class="card-text">Период отправки - {{ object.sending_period }}</p>
                        <p class="card-text">Статус отправки - {{ object.sending_status }}</p>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-success"
                           href="{% url 'mailing_interface_app:sending_mail_set_delete' object.pk %}">
                            Изменить настройку </a>
                        <a class="btn btn-danger"
                           href="{% url 'mailing_interface_app:sending_mail_set_delete' object.pk %}">
                            Удалить настройку </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}